.header-get-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1380px;
    height: 64px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}
